<label class="input-container" for={{name}}>
  <input
    class="input-element"
    placeholder="  "
    type={{type}}
    autocomplete={{autocomplete}}
    name={{name}}
    id={{name}}
  />
  <span class="text input-label">{{label}}</span>
</label>
